/* 版心 */
.md{
    width: 1200px;
    margin: 0 auto;
}

.whiteArea{
    background: #fff;
}


.headBox{
    height: 52px;
    line-height: 52px;
    padding: 16px 0;
    font-size: 14px;
}

.headBox>div,.headBox>.logo{
    height: 52px;
    float: left;
}

.headBox a{
    color: #2a2a2a;
}

.headBox .logo{
   width: 176px;
   overflow: hidden;
}

.headBox .logo>a{
    display: block;
    height: 52px;
    background: url('../images/logo1.png') center center no-repeat;
}

.headBox .links a{
   margin-left: 55px;
}

.headBox .info{
   float: right;
}

.headBox .info>a{
    float: left;
}

.headBox .info .cartBtn img{
    vertical-align: middle;
}

.headBox .info .logIn{
    margin: 0 35px 0 39px;
}

.bannerBox{
    position: relative;
    height: 360px;
    box-sizing: border-box;
}

.banner>a{
    display: block;
    height: 360px;
}

.bannerBox img{
    width: 100%;
    height: 100%;
}

.slidBar{
    position: absolute;
    left: 0;
    top: 0;
    width: 240px;
    height: 100%;
    background: rgba(2,0,0,.2);
    font-size: 14px;
}

.slidBar a{
    color:#fff;
    display: block;
    border-bottom: 1px solid #fff;
    background: url('../images/arrow.png') 166px center no-repeat;
    height: 72px;
    line-height: 72px;
    box-sizing: border-box;
}

.slidBar li{
    padding: 0 25px;
}

.slidBar li:hover{
    background: rgba(11, 11, 11, .3);
}

.slidBar .last{
    border-bottom: none;
}

.slidBar .content{
    width: 500px;
    height: 100%;
    background: green;
    position: absolute;
    left: 240px;
    top: 0;
    display: none;
}

.slidBar li:hover .content{
    display: block;
}

.recomment{
    height: 500px;
    background: lavenderblush;
}

.recomment h3{
    padding-top: 39px;
    font-style: 16px;
    color: #2d2d2d;
    margin:0 0 19px 0;
    line-height: 1;
}

.recomment .lists>li{
    width: 250px;
    height: 184px;
    background: lavender;
    float: left;
}

.grayArea{
    height: 1000px;
    background: lavender;
}

.footArea{
    height: 1000px;
    background: #333;
}